<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crearPropietario</servlet-name>
        <servlet-class>Servlets.crearPropietario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ControladorServlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearVeterinario</servlet-name>
        <servlet-class>Servlets.crearVeterinario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVet</servlet-name>
        <servlet-class>ControladorServlet.LoginVet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearMascota</servlet-name>
        <servlet-class>Servlets.crearMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarMascota</servlet-name>
        <servlet-class>Servlets.eliminarMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>Servlets.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarPropietario</servlet-name>
        <servlet-class>Servlets.eliminarPropietario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarVeterinario</servlet-name>
        <servlet-class>Servlets.eliminarVeterinario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarVeterinario</servlet-name>
        <servlet-class>Servlets.editarVeterinario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarPropietario</servlet-name>
        <servlet-class>Servlets.editarPropietario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCitaMascota</servlet-name>
        <servlet-class>Servlets.crearCitaMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCita</servlet-name>
        <servlet-class>Servlets.eliminarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCitaVet</servlet-name>
        <servlet-class>Servlets.updateCitaVet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarMascota</servlet-name>
        <servlet-class>Servlets.editarMascota</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearPropietario</servlet-name>
        <url-pattern>/crearPropietario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearVeterinario</servlet-name>
        <url-pattern>/crearVeterinario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVet</servlet-name>
        <url-pattern>/LoginVet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearMascota</servlet-name>
        <url-pattern>/crearMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarMascota</servlet-name>
        <url-pattern>/eliminarMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarPropietario</servlet-name>
        <url-pattern>/eliminarPropietario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarVeterinario</servlet-name>
        <url-pattern>/eliminarVeterinario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarVeterinario</servlet-name>
        <url-pattern>/editarVeterinario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarPropietario</servlet-name>
        <url-pattern>/editarPropietario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCitaMascota</servlet-name>
        <url-pattern>/crearCitaMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCita</servlet-name>
        <url-pattern>/eliminarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCitaVet</servlet-name>
        <url-pattern>/updateCitaVet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarMascota</servlet-name>
        <url-pattern>/editarMascota</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
