<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addMascota</servlet-name>
        <servlet-class>Servlet.addMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarUsuario</servlet-name>
        <servlet-class>Servlet.guardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarUsuario</servlet-name>
        <servlet-class>Servlet.guardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarDueno</servlet-name>
        <servlet-class>Servlet.borrarDueno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarMascota</servlet-name>
        <servlet-class>Servlet.borrarMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarMascota</servlet-name>
        <servlet-class>Servlet.editarMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUsuario</servlet-name>
        <servlet-class>Servlet.editarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addMascota</servlet-name>
        <url-pattern>/addMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarUsuario</servlet-name>
        <url-pattern>/guardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarUsuario</servlet-name>
        <url-pattern>/GuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarDueno</servlet-name>
        <url-pattern>/borrarDueno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarMascota</servlet-name>
        <url-pattern>/borrarMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarMascota</servlet-name>
        <url-pattern>/editarMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUsuario</servlet-name>
        <url-pattern>/editarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
